<h1 class= "center">List of Cocktails</h1>

<p class="center">Find here the best cocktails</p>

<div class="container col-xs-12 col-sm-10 col-sm-offset-1">
  <% @cocktails.each do |cocktail| %>
    <div class="card"><%= link_to cocktail.name, cocktail_path(cocktail), { class: "link" }%></div>
  <% end %>
</div>

<div class="center margin">
    <%= link_to 'Add a cocktail', new_cocktail_path, { class: "btn-dark" }%>
</div>
