<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="center">Add doses</h1>
      <p class="center">Had the ingridients and a description with the doses to make this cocktail</p>
    </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
