.btn-light {
  background-color: rgba(247, 229, 210, 0);
  border: 2px solid rgb(247, 229, 210);
  padding: 35px 100px;
  border-radius: 15px;
  font-weight: bold;
  &:hover {
    background-color: rgb(247, 229, 210);
    border: 2px solid rgb(247, 229, 210);
    color: rgb(102, 91, 83);
  }
}

.btn-dark {
  background-color: rgb(208, 55, 83);
  border: 2px solid rgb(208, 55, 83);
  padding: 35px 100px;
  border-radius: 15px;
  font-weight: bold;
  &:hover {
    background-color: rgba(247, 229, 210, 0);
    border: 2px solid rgb(208, 55, 83);
    color: rgb(208, 55, 83);
  }
}
