// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS pages
@import "pages/index";

@import "doses";
@import "reviews";

//CSS components
@import "components/links";
@import "components/cards";
@import "components/buttons";
@import "components/alert";
@import "components/avatar";
@import "components/navbar";


// rgb(208, 55, 83)
// rgb(144, 131, 121)
// rgb(102, 91, 83)
// rgb(107, 96, 88)
// rgb(247, 229, 210)

// -----------------------------------------------------------------------------
body {
  background-color: rgb(251, 244, 237);
  font-family: Avenir;
}

p {
  color: rgb(107, 96, 88);
}

h2 {
  color: rgb(107, 96, 88);
  font-size: 30px;
}

li {
  list-style: none;
}
