<div class="review-container">
  <h2>Add a review</h2>
  <%= simple_form_for [cocktail, review] do |f| %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content %>
    <%= f.submit class: "btn-dark"%>
  <% end %>
</div>
